<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          [routerLink]="['39']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          aria-current="page"
          id="englandSelect"
          >England</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['140']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          id="spainSelect"
          >Spain</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['78']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          id="germanySelect"
          >Germany</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['61']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          id="franceSelect"
          >France</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['135']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          id="italySelect"
          >Italy</a
        >
      </li>
    </ul>
  </header>
</div>
